<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHUfsS5k8fWdr6V_151x2kFKoRgTUx_Io&libraries=places" async defer></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/heaterUnit.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/acUnit.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
		<title>Watt: Save Money</title>
		<!-- META DATA -->
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<!-- CSS Implementing Plugins -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bicolor.min.css') }}">
		<!-- CSS Global Compulsory -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<!--<link rel="stylesheet" href="assets/css/custom.css">-->
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- FAVICONS -->
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon-72x72.png') }}">
		<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon-114x114.png') }}">
	</head>
	<body>
		<div id="awd-site-wrap" class="bg bg-home">
			<div id="bg">
				<div id="overlay">
					<div class="awd-site-bg bg-home"></div>
					<div class="awd-site-bg bg-subscribe"></div>
					<div class="awd-site-bg bg-about"></div>
					<div class="awd-site-bg bg-contact"></div>
					<div class="awd-site-bg bg-services"></div>
				</div>
				<canvas id="awd-site-canvas"></canvas>
			</div>
			<!-- START SITE HEADER -->
			<header id="awd-site-header">
				<div id="awd-site-logo" class="animated" data-animation="fadeInDown" data-animation-delay="500">
					<h1><a href="index.html#" class="go-slide" data-slide="home"><span><img src="/static/img/logo.png">
				</div>
				<button class="menu-toggle animated" data-animation="fadeInDown" data-animation-delay="500" data-role="toggle">
				<span></span>
				<span></span>
				<span></span>
				</button>
				<!-- START NAVIGATION -->
				<nav id="awd-site-nav" class="navigation animated" data-animation="fadeInDown" data-animation-delay="500">
					<div class="nav-container">
						<!-- START NAVIGATION MENU ITEMS -->
						<ul>
							<li><a href="index.html#" data-slide="home" class="active">Home</a></li>
							<li><a href="index.html#" data-slide="savings">Savings</a></li>
						</ul>
						<!-- END NAVIGATION MENU ITEMS -->
					</div>
				</nav>
				<!-- END NAVIGATION -->
			</header>
			<!-- END SITE HEADER -->
			<!-- START MAIN -->
			<main id="awd-site-main">
				<!-- START SECTION -->
				<section id="awd-site-content">
					<div class="sections-block">
						<div class="slides">
							<div class="slides-wrap">
								<!-- HOME SECTION -->
								<div class="slide-item" data-slide-id="home">
									<!-- START CONTAINER -->
									<div class="container-fluid">
										<div class="row">
											<div class="col-md-12">
												<!-- START SLIDE CONTENT-->
												<div class="slide-content">
													<div class="row">
														<div class="col-lg-5 col-md-6 svm">
															<div class="section-info text-left">
																<!-- START TITLE -->
																<p class="animated" data-animation="fadeIn" data-animation-delay="100">
																	Meet <strong>Watt</strong>. Watt saves you money. Plug in some numbers—we'll crunch the data—and see how you can save.
																</p>
																<br>
																<h2 class="section-title text-default animated" data-animation="fadeIn" data-animation-delay="50" style="margin-bottom: 20px">
																	Household
																</h2>
																<p class="animated" data-animation="fadeIn" data-animation-delay="100">
																	<strong>Step 1. </strong>What does your household look like?
																</p>
																<form id="contact-form" class="contact-form">
																	<div class="row">
																		<div class="col-md-12 animated" data-animation="fadeIn" data-animation-delay="200">
																			<input type="text" id="autocomplete" name="contact-subject" placeholder="State" class="contact-form-subject required">
																		</div>
																		<div class="col-lg-4 col-md-6 col-md-12 animated" data-animation="fadeIn" data-animation-delay="200">
																			<input type="text" name="household-size" id="household-size" placeholder="# of Ppl." class="contact-form-subject required">
																		</div>
																		<div class="col-lg-4 col-md-6 col-md-12 animated" data-animation="fadeIn" data-animation-delay="200">
																			<input type="text" name="years" id="years" placeholder="Years" class="contact-form-subject required">
																		</div>
																		<div class="col-lg-4 col-md-6 col-md-12 animated" data-animation="fadeIn" data-animation-delay="200">
																			<input type="text" name="sqft" id="sqft" placeholder="Sq. Ft." class="contact-form-subject required">
																		</div>
																	</div>
																</form>
															</div>
														</div>
														<div class="col-lg-5 col-lg-offset-1 col-md-6 svm">
															<div class="section-info text-left">
																<!-- START TITLE -->
																<h2 class="section-title text-default animated" data-animation="fadeIn" data-animation-delay="50" style="margin-bottom: 20px">
																	Appliances
																</h2>
																<!-- END TITLE -->
																<p class="animated" data-animation="fadeIn" data-animation-delay="100">
																	<strong>Step 2. </strong>What appliances do you own?
																</p>
																<form id="contact-form" class="contact-form">
																	<div class="row">
																		<div class="col-md-8 animated" data-animation="fadeIn" data-animation-delay="200">
																			<input type="text" id="acUnit" name="acUnit" placeholder="AC Unit Manufacturer" class="contact-form-subject required">
																		</div>
																		<div class="col-md-4 animated" data-animation="fadeIn" data-animation-delay="200">
																			<input type="text" id="acUnitYear" name="acUnitYear" placeholder="Year" class="contact-form-subject required">
																		</div>
																		<div class="col-md-8 animated" data-animation="fadeIn" data-animation-delay="200">
																			<input type="text" id="heatingUnit" name="heatingUnit" placeholder="Heating Unit Manufacturer" class="contact-form-subject required">
																		</div>
																		<div class="col-md-4 animated" data-animation="fadeIn" data-animation-delay="200">
																			<input type="text" id="heatingUnitYear" name="heatingUnitYear" placeholder="Year" class="contact-form-subject required">
																		</div>
																		<div class="col-md-8 animated" data-animation="fadeIn" data-animation-delay="200">
																			<input type="text" id="microwave" name="microwave" placeholder="Microwave Manufacturer" class="contact-form-subject required">
																		</div>
																		<div class="col-md-4 animated" data-animation="fadeIn" data-animation-delay="200">
																			<input type="text" id="microwaveYear" name="microwaveYear" placeholder="Year" class="contact-form-subject required">
																		</div>
																		<div class="col-md-8 animated" data-animation="fadeIn" data-animation-delay="200">
																			<input type="text" id="fridge-freezer" name="fridge-freezer" placeholder="Fridge/Freezer Manufact." class="contact-form-subject required">
																		</div>
																		<div class="col-md-4 animated" data-animation="fadeIn" data-animation-delay="200">
																			<input type="text" id="fridge-freezerYear" name="fridge-freezerYear" placeholder="Year" class="contact-form-subject required">
																		</div>
																	</div>
																</form>
																<center>
																	<a href="index.html#" class="btn btn-inverse go-slide animated" data-animation="fadeIn" data-animation-delay="60" data-slide="savings" onclick="viewSavings()">Calculate Savings <span><i class="fa fa-calculator"></i></span></a>
																</center>
															</div>
														</div>
													</div>
												</div>
												<!-- END SLIDE CONTENT-->
											</div>
										</div>
									</div>
									<!-- END CONTAINER -->
								</div>
								<!-- SAVINGS SECTION -->
								<div class="slide-item" data-slide-id="savings">
									<!-- START CONTAINER -->
									<div class="container-fluid">
										<div class="row">
											<div class="col-md-12">
												<!-- START SLIDE CONTENT-->
												<div class="slide-content">
													<div class="row">
														<div class="col-lg-12 col-md-12 svm">
															<div class="section-info text-left">
																<!-- START TITLE -->
																<h2 class="section-title text-default animated" data-animation="fadeIn" style="display: inline">Savings<a href="javascript: print()"><i class="fa fa-print" style="margin-left: 15px"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-send"></i></a></h2> 
																<!-- END TITLE -->
																<p class="animated" data-animation="fadeIn" data-animation-delay="100" style="margin-top: 10px">
																	<strong>Ready to save?</strong> Print or email our recommendations. View them below!
																</p>
																<!-- TABLE #1 -->
																<p class="animated" data-animation="fadeIn" data-animation-delay="100" style="margin-top: 10px" id="acUnitText">
																	<strong>AC Unit.</strong> Your [manufacturer] AC unit was made in [year] and costs approximately $[amount] per year in energy. According to our estimates, you [should/should not] buy a new AC unit.
																</p>
																<table class="table-fill" width="100%" overflow="scroll">
																	<thead>
																		<tr>
																			<th class="text-left">Model</th>
																			<th class="text-left">Base Cost</th>
																			<th class="text-left">Energy Consumption</th>
																			<th class="text-left">Savings Per Year</th>
																			<th class="text-left">Purchase?</th>
																		</tr>
																	</thead>
																	<tbody class="table-hover" id="acUnitRows">
																		<tr>
																			<td class="text-left">N/A</td>
																			<td class="text-left">N/A</td>
																			<td class="text-left">N/A</td>
																			<td class="text-left">N/A</td>
																			<td class="text-left"><a href="#" class="btn btn go-slide animated" data-animation="fadeIn" data-animation-delay="60">Purchase</a></td>
																		</tr>
																	</tbody>
																</table>
																<br><br>
																<!-- END TABLE -->
																<!-- TABLE #2 -->
																<p class="animated" data-animation="fadeIn" data-animation-delay="100" style="margin-top: 10px" id="heaterUnitText">
																	<strong>Heating Unit.</strong> Your [manufacturer] heating unit was made in [year] and costs approximately $[amount] per year in energy. According to our estimates, you [should/should not] buy a new heating unit. Your top choices are:
																</p>
																<table class="table-fill" width="100%" overflow="scroll">
																	<thead>
																		<tr>
																			<th class="text-left">Model</th>
																			<th class="text-left">Base Cost</th>
																			<th class="text-left">Energy Consumption</th>
																			<th class="text-left">Savings Per Year</th>
																			<th class="text-left">Purchase?</th>
																		</tr>
																	</thead>
																	<tbody class="table-hover" id="heaterUnitRows">
																		<tr>
																			<td class="text-left">N/A</td>
																			<td class="text-left">N/A</td>
																			<td class="text-left">N/A</td>
																			<td class="text-left">N/A</td>
																			<td class="text-left"><a href="#" class="btn btn go-slide animated" data-animation="fadeIn" data-animation-delay="60">Purchase</a></td>
																		</tr>
																	</tbody>
																</table>
																<br><br>
																<!-- END TABLE -->
																<!-- TABLE #3 -->
																<p class="animated" data-animation="fadeIn" data-animation-delay="100" style="margin-top: 10px">
																	<strong>Microwave.</strong> Your [manufacturer] microwave was made in [year] and costs approximately $[amount] per year in energy. According to our estimates, you [should/should not] buy a new microwave. Your top choices are:
																</p>
																<table class="table-fill" width="100%" overflow="scroll">
																	<thead>
																		<tr>
																			<th class="text-left">Model</th>
																			<th class="text-left">Base Cost</th>
																			<th class="text-left">Energy Consumption</th>
																			<th class="text-left">Savings Per Year</th>
																			<th class="text-left">Purchase?</th>
																		</tr>
																	</thead>
																	<tbody class="table-hover" id="rows">
																		<tr>
																			<td class="text-left">N/A</td>
																			<td class="text-left">N/A</td>
																			<td class="text-left">N/A</td>
																			<td class="text-left">N/A</td>
																			<td class="text-left"><a href="#" class="btn btn go-slide animated" data-animation="fadeIn" data-animation-delay="60">Purchase</a></td>
																		</tr>
																	</tbody>
																</table>
																<br><br>
																<!-- END TABLE -->
																<!-- TABLE #4 -->
																<p class="animated" data-animation="fadeIn" data-animation-delay="100" style="margin-top: 10px">
																	<strong>Fridge/Freezer.</strong> Your [manufacturer] fridge/freezer was made in [year] and costs approximately $[amount] per year in energy. According to our estimates, you [should/should not] buy a new fridge/freezer. Your top choices are:
																</p>
																<table class="table-fill" width="100%" overflow="scroll">
																	<thead>
																		<tr>
																			<th class="text-left">Model</th>
																			<th class="text-left">Base Cost</th>
																			<th class="text-left">Energy Consumption</th>
																			<th class="text-left">Savings Per Year</th>
																			<th class="text-left">Purchase?</th>
																		</tr>
																	</thead>
																	<tbody class="table-hover" id="rows">
																		<tr>
																			<td class="text-left">N/A</td>
																			<td class="text-left">N/A</td>
																			<td class="text-left">N/A</td>
																			<td class="text-left">N/A</td>
																			<td class="text-left"><a href="#" class="btn btn go-slide animated" data-animation="fadeIn" data-animation-delay="60">Purchase</a></td>
																		</tr>
																	</tbody>
																</table>
																<!-- END TABLE -->
															</div>
														</div>
													</div>
												</div>
												<!-- END SLIDE CONTENT-->
											</div>
										</div>
										<!-- END ROW -->
									</div>
									<!-- END CONTAINER -->
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- END SECTION -->
			</main>
			<!-- END MAIN -->
			<footer id="awd-site-footer">
				<!-- START COPYRIGHT -->
				<div class="copyright animated" data-animation="fadeInUp" data-animation-delay="500">
				</div>
				<!-- END COPYRIGHT -->
			</footer>
		</div>
		<!-- JS -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/options-v=2.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/main-v=1.js') }}"></script>
	</body>
</html>